### Import packages

In [32]:
import pandas as pd
import itertools
import numpy as np

### Import data

In [10]:
df = pd.read_csv('Procedures/CPT_v2020.1/CCS_services_procedures_v2020-1.csv', skiprows=1)

### Inspect data

In [11]:
df.head()

      Code Range  CCS                     CCS Label
0  '61000-61001'    1  Incision and excision of CNS
1  '61020-61020'    1  Incision and excision of CNS
2  '61026-61026'    1  Incision and excision of CNS
3  '61050-61050'    1  Incision and excision of CNS
4  '61055-61055'    1  Incision and excision of CNS

### Expand data

In [37]:
def Expand(df):
    r = []
    for index, row in df.iterrows():
        first = row['Code Range'].split('-')[0][1:]
        second = row['Code Range'].split('-')[1][:-1]
        if first[0].isdigit():
            try:
                r.append([x for x in range(int(first), int(second) + 1)])
            except:
                r.append(np.nan)
        else:
            r.append(np.nan)
    return r

In [38]:
l = Expand(df)

### Merge data

In [42]:
df.insert(loc=0, column='code', value=l)

### Explode data

In [46]:
df = df.explode('code')

In [60]:
df[df['code'] == 37200]

       code     Code Range  CCS                                   CCS Label
1664  37200  '37200-37200'   62  Other diagnostic cardiovascular procedures